<div class="spinner" [ngClass]="{ hidden: !loading }">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>

<main [ngClass]="{ hidden: loading }">
  <div *ngIf="topic" class="grid">
    <div class="header">
      <h1 class="topic-title mat-display-1">{{ topic.title }}</h1>
      <button
        mat-icon-button
        (click)="deleteTopic()"
        *ngIf="afAuth.auth.currentUser && afAuth.auth.currentUser.uid === topic.author"
        matTooltip="Delete Topic"
        aria-label="Button that displays a tooltip when focused or hovered over"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-chip-list class="topic-tag">
      <mat-chip *ngFor="let tag of topic.tags">{{ tag }}</mat-chip>
    </mat-chip-list>

    <div *ngIf="replies" class="replies">
      <mat-card class="reply-card" *ngFor="let reply of replies">
        <mat-card-header>
          <div
            mat-card-avatar
            class="user-image"
            [ngStyle]="{
              'background-image': 'url(' + reply.authorImage + '), url(/assets/default.png)'
            }"
          ></div>
          <mat-card-title>{{ reply.author }}</mat-card-title>
          <mat-card-subtitle matTooltip="{{ reply.timestamp | date: 'medium' }}">
            {{ reply.timestamp | timeAgo }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p class="mat-body-2 reply-content">{{ reply.message }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <label>
            {{ reply.likes }}
            <button
              (click)="likeReply(reply.replyID)"
              mat-icon-button
              matTooltip="Like"
              aria-label="Button that displays a tooltip when focused or hovered over"
              *ngIf="!reply.liked; else liked"
            >
              <mat-icon>favorite_border</mat-icon>
            </button>
            <ng-template #liked>
              <button
                (click)="unlikeReply(reply.replyID)"
                mat-icon-button
                matTooltip="Unlike"
                aria-label="Button that displays a tooltip when focused or hovered over"
              >
                <mat-icon>favorite</mat-icon>
              </button>
            </ng-template>
          </label>

          <button
            (click)="deleteReply(reply.replyID)"
            *ngIf="
              afAuth.auth.currentUser &&
              afAuth.auth.currentUser.uid === reply.authorUID &&
              !reply.first
            "
            mat-icon-button
            matTooltip="Delete"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>

<button
  [ngClass]="{ hidden: loading }"
  (click)="openDialog()"
  class="reply-button"
  mat-fab
  matTooltip="Reply"
  aria-label="Button that displays a tooltip when focused or hovered over"
>
  <mat-icon>reply</mat-icon>
</button>
