<main role="main">
  <form [formGroup]="messageWithName" (ngSubmit)="updateData()">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input formControlName="name" type="text" matInput />
      <!-- <mat-error *ngIf="name.invalid">
        You must enter your name
      </mat-error> -->
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Message</mat-label>
      <input formControlName="message" type="text" matInput />
    </mat-form-field>

    <button class="submit-button" mat-raised-button type="submit">SEND</button>
  </form>

  <mat-card *ngFor="let data of appData">
    <div class="list-item">
      <!-- <p class="name">
        Name:
        <strong *ngIf="uid == data.uid; else normalname">{{ data.name }}</strong>
        <ng-template #normalname>{{ data.name }}</ng-template>
      </p> -->
      <p class="message">
        Message:
        <strong *ngIf="uid == data.uid; else normalmessage">{{ data.message }}</strong>
        <ng-template #normalmessage>{{ data.message }}</ng-template>
      </p>
      <button
        class="deleteButton"
        mat-raised-button
        *ngIf="uid == data.uid"
        type="button"
        (click)="deleteMessage(data.docID)"
      >
        Delete
      </button>
    </div>
  </mat-card>
</main>
