@import "~@angular/material/theming";

$custom-typography: mat-typography-config(
  $font-family:
    "-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif"
);

@include mat-core($custom-typography);

$srvrlss-primary: mat-palette($mat-purple, 200);
$srvrlss-accent: mat-palette($mat-teal, 200);
$srvrlss-warn: mat-palette($mat-red);
$srvrlss-theme: mat-dark-theme(
  $srvrlss-primary,
  $srvrlss-accent,
  $srvrlss-warn
);

@include angular-material-theme($srvrlss-theme);
